*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #f2f2f2;
	line-height: 1.6;
}

body{
	font-size: 18px;
}

html{
	scroll-behavior: smooth;
}

.home-page{
	background-image: url(../images/bg.jpg);
	background-color: rgba(0, 0, 0, 0.42);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}


#my-photo{
	max-width: 200px;
	border-radius: 50%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.39); 
}

.about-page{
	background-color: #333;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.contact-page{
	background-color: #09c;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.form-group{
	width: 400px;
	height: 450px;
	background-color: #f2f2f2;
	margin: 0 auto;
}

.form-control{
	margin: 0 auto;
	display: block;
	width: 80%;
	height: 50px;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.form-control-textarea{
	margin: 0 auto;
	display: block;
	width: 80%;
	height: 30px;
	border-radius: 5px;
	background-color: #f2f2f2;
	color:#333;

}
textarea{
	resize: none;
}

label{
	color: #333;
	float: left;
    margin: 2px 35px;
    padding: 5px 2px;
}


.project-page{
	background-color: #333;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.section{
	width:100%;
	height:300px;
}

.feature-1{
	background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,0.39539565826330536) 100%), url(../images/haikyuu.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f5cf8e;
	height:300px;
	width: 33.3%;
	float: left;
	padding: 5%;
}

.feature-2{
	background-color: #f09a9d;
	height:300px;
	width: 33.3%;
	float: left;
	padding: 5%;
}

.feature-3{
	background-color: #c8c6fa;
	height:300px;
	width: 33.3%;
	float: left;
	padding: 5%;
}
.feature-content h3{
	padding-top: 50%;
	text-shadow: 0 4px 6px black;
}

nav{
	margin: 0;
}

.navbar{
	position: fixed;
	margin: 0 20px;
	padding: 5px 0px 0px 0px;
	float: left;
	font-size: 17px;
	font-weight: bold;

}

.navbar>ul{
	list-style: none;
}
.navbar>ul>li{
	display: inline-block;
/*	margin: 2px 5px;*/
	padding: 5px;
	width: 70px;
	text-align: center;

}

.navbar>ul>li>a{
	text-decoration: none;
}

.navbar>ul>li:active{
	border-bottom: 3px solid #f2f2f2;
}
.navbar>ul>li:hover{
	border-bottom: 3px solid #f2f2f2;
}

.btn{
	width: 100px;
	height: 50px;
	border-radius: 10px;
	margin: 50px 15px;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 12px;
}

.btn-black{
	background-color: #111;
	border: 1px solid #f2f2f2;
}

.btn-black:hover{
	background-color: #f2f2f2;
	color: #333;
	border: 1px solid #000;
}

.content-text-landing{
		margin: 20px 50px;
		padding-top: 15%
}

.content-text{
		margin: 20px 50px;
		padding: 2%;

}

h1{
	font-family: 'Bree Serif', serif;
	margin: 0 auto;
	padding: 100px 0px 10px 0px; 
	width: 100%;
	font-size: 4em;
	text-shadow: 2px 2px 4px #333;
	text-transform: uppercase;
	padding-top: 5%;

}

h2{
	font-family: 'Bree Serif', serif;
	margin: 0 auto;
	padding: 20px 50px 20px 2px; 
	width: 100%;
	font-size: 2em;
	text-shadow: 2px 2px 4px #333;
}

.home-page>.content-text>h3{
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #333;
	text-align: center;

}


footer>p{
	margin: 0;
	padding: 15px 15px;
	width: 100%;
	background-color: #0c0d0f;
	text-align: center;
	font-size: 14px;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}


@media only screen and (max-width: 400px){
	.feature-content h3{
	padding-top: 25%;
	text-shadow: 0 4px 6px black;
	}

	#my-photo {
    max-width: 150px;
	
	}

	.content-text-landing{
		margin: 20px 50px;
		padding-top: 20%
	}	

	h1{
	font-size: 2em;
	padding-top: 4%;
	}



	.section{
		width:100%;
		height:100%;

	}

	.feature-1,
	.feature-2,
	.feature-3 {
		width: 100%;
		height: 50%;
		float: left;
	}
	p {
    font-size: 9px;
	}

	h2 {
    font-size: 20px;
    margin: 0 auto;
}

.about-page{

	height: 50%;

}
.contact-page{

	height: 80%;

}
.project-page{

	height: 50%;

}

.form-group.clear {
    max-width: 100%;
}


}

/*table screen*/
@media only screen and (min-device-width : 401px) and (max-device-width : 960px) {
	.feature-content h3{
	padding-top: 25%;
	text-shadow: 0 4px 6px black;
	}
	.about-page{

	height: 50%;

	}
	.contact-page{

	height: 80%;

	}
	.project-page{

		height: 50%;

	}
	#my-photo {
    max-width: 150px;
	
	}

	.form-group.clear {
    max-width: 100%;
	}



	h2 {
    font-size: 20px;
    margin: 0 auto;
	}

	p {
    font-size: 9px;
	}

	.content-text-landing{
		margin: 20px 50px;
		padding-top: 20%
	}	

	h1{
	font-size: 2em;
	padding-top: 4%;
	}

	.section{
		width:100%;
		height:100%;

	}

	.feature-1,
	.feature-2,
	.feature-3 {
		width: 100%;
		height: 50%;
		float: left;
	}


}
/*end o table screen*/

/*desktop screen larger screen*/
@media only screen and (min-width: 961px){



}
/*end of desktop screen or larger screen